RewriteEngine On
RewriteRule ^image-([0-9]+)\.png$ image.php?id=$1 [QSA] # передаст введенное польз-м число N в get параметр id вызываемой картинки
RewriteRule ^final.html$ final.php [NC] # при открытии файла html запустится php
